# Compiled Go binaries
*.exe
*.exe~
*_obj/
*_test/
*test.out
*test.coverprofile
conference-scheduler # If you run 'go build'

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE specific
.vscode/
.idea/
*.swp
*.swo
